#firstArticle{
    background-color: #333333;
    border-radius: 20px;
    margin-bottom: 20px;
}

#secondArticle{
    background-color: #5D667E;
    border-radius: 20px;
    margin-bottom: 20px;
    color: beige;
}